<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to my fridge</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>
	<% if logined_in? %>
		<form action="/session" method="post">
			Welcome <%= current_user.username %>!
			<input type="hidden" name = "_method" value ="delete">
			<button>signout</button>
		</form>
	<% end %>
	<a href="/"><button>home</button></a>
  <%= yield %>

</body>
</html>