<form action="/fridges" method="POST">
	<p>Fridge Name : <input type="text" name="fridge_name"></p>
	<p>Fridge Location : <input type="text" name="fridge_location"></p>
	<button>Create fridge</button>
</form>